<nav aria-label="breadcrumb">
  <ol class="breadcrumb shadow-sm">
    <li class="breadcrumb-item active" aria-current="page">Shop</li>
  </ol>
</nav>
<section class="container mb-5">
  <div class="mt-5">
    <div class="d-flex">
      <h4 class="h4 mb-3 font-weight-normal">Menu Items </h4>
    </div>
    <div class="flex-wrap d-flex col-lg-12 ">
      <% @menu_items.map do |item| %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2">
          <%= render partial: "item", locals: { item: item } %>
        </div>
      <% end %>
    </div>
  </div>
</section>
