.delete-btn{
  width: 15px;
}

.delete-btn:active{
  border: none;
  outline: none;
}

.delete-btn:focus{
  border: none;
  outline: none;
}

.edit-btn{
  width: 20px;
}

.edit-btn:active{
  border: none;
  outline: none;
}

.edit-btn:focus{
  border: none;
  outline: none;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.alerts{
  z-index: 1;
}
