.delete-btn{
  width: 15px;
}

.delete-btn:active{
  border: none;
  outline: none;
}

.delete-btn:focus{
  border: none;
  outline: none;
}

.edit-btn{
  width: 20px;
}

.edit-btn:active{
  border: none;
  outline: none;
}

.edit-btn:focus{
  border: none;
  outline: none;
}
