<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-2">
        <p>
          Cafeteria Management System
        </p>
      </div>
      <div class="col-lg-6 col-md-12">
         © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">arnabsen1729</a>
      </div>
    </div>
  </div>
</footer>
